body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#a2d2ff,  #efbbc9);
    /* background: #a2d2ff; */
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#avatar {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efbbc9;
}

#bday-age {
    background: #efbbc9;
    padding: 3px 9px;
    border-radius: 5px;
    margin: 15px 0 10px 0;
    
}

#bday-date {
    background: #efbbc9;
    padding: 3px 9px;
    border-radius: 5px;
    margin: 0;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-title{
    margin-bottom: 10px;

}

.gift-hint {
    margin-top: 0;
}

.gift-section {
    margin-top: 50px;
}
.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border:5px solid white;
    border-radius: 10px;
    background-image: url(images/gift-cover.jpg);
    background-size: cover;
    
}

#gift-img-happy:hover {
    background-image: url(images/happy.gif);
}

#gift-img-hot:hover {
    background-image: url(images/hot.gif);
}

#gift-img-genius:hover {
    background-image: url(images/genius.gif);
}

#gift-img-badass:hover {
    background-image: url(images/badass.gif);
}

#gift-img-cheers {
    height: 200px;
    
}

#gift-img-cheers:hover {
    background-image: url(images/cheers.gif);
}

#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;

}

a {
    color: white;
}